HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbproject/load-resource-prefixes.properties

### VS Code ###
.vscode/

### OS files ###
.DS_Store
Thumbs.db
desktop.ini

### Logs ###
*.log
logs/

### Crash logs ###
hs_err_pid*
replay_pid*
